$text-dark: #45424e;
$text-light: white;

.Header {
  .colored-top-bar {
    color: $text-dark;
    padding-bottom: 50px;
    background-color: #f8f9fa;
  }
  h1 {
    font-size: 1.5rem;
    font-family: "IRANSansBold";
  }
}

@media screen and (max-width: 767px) {
  .Header {
    .colored-top-bar {
      padding-bottom: 20px;
    }
    h1 {
      font-size: 1rem;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px -2px;
      height: 50px;
    }
    .colored-top-bar {
      color: $text-dark;
      background-color: transparent;
    }
  }
}
