.mycarousel-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.mycarousel-wrapper {
  margin-top: 30px;
  display: flex;
  width: 100%;
  position: relative;
}

.mycarousel-content-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.mycarousel-content {
  display: flex;
  transition: all 0.3s linear;
  -ms-overflow-style: none; /* hide scrollbar in IE and Edge */
  scrollbar-width: none; /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.mycarousel-content::-webkit-scrollbar,
.mycarousel-content::-webkit-scrollbar {
  display: none;
}

.mycarousel-content > * {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}

.left-arrow,
.right-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: white;
  border: 1px solid #ddd;
}

.left-arrow {
  left: 24px;
}

.right-arrow {
  right: 24px;
}

@media (hover: none) and (pointer: coarse) {
  .left-arrow,
  .right-arrow {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mycarousel-container {
    width: 100%;
  }
  .mycarousel-wrapper {
    margin-top: 10px;
  }
}
