$primary-color: #4c77dc;
$text-dark: #45424e;
$text-light: white;

.MyNav {
  nav {
    height: 80px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;

    a {
      color: $text-dark;
      text-decoration: none;
      font-size: 1.1rem;
      transition: all 0.2s ease-in-out;
    }

    a:hover {
      color: black;
    }

    .main-nav-divider {
      display: inline-block;
      margin: 10px;
      height: 10px;
      width: 1px;
      background: #a0a0b1;
    }

    .icon {
      font-size: 1.3rem;
    }
    .logo-icon {
      font-size: 2rem;
    }
  }
}

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 400px;
  margin-left: 20px;
}

.search-input-wrapper {
  z-index: 1;

  input {
    border-radius: 5px;
    height: 50px;
    padding: 0 40px 0 100px;
  }
}

.xmark {
  z-index: 3;
  font-size: 24px;
  padding: 15px 20px;
  position: relative;
  right: 50px;
}
.xmark:hover {
  cursor: pointer;
}
.search-btn {
  z-index: 3;
  flex: 0;
  height: 40px;
  padding: 0 25px;
  position: relative;
  left: 105px;
}
